#myinput {
    background: linear-gradient(to right, #A4FFAF 0%, #A4FFAF 50%, #18171F 50%, #18171F 100%);
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin-right: 0;
    margin-top: 18px;
    margin-bottom: 42px;
  }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 8px;
      -webkit-appearance: none;
      color: none;
      margin-top: -1px;
      
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 28px;
      -webkit-appearance: none;
      height: 28px;
      cursor: grab;
      background: #E6E5EA;
      border-radius: 25px;
      margin-top: -10px;
      
    }

}





